@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p>Have no fear, Mattias was here.</p>
    <p>Micke was also here.</p>
    <p>Have no fear, Mattias and Filip were here.</p>
    <p>Inga konflikter än....</p>

</div>
